<h1>New ambulance</h1>

<%= error_messages_for :ambulance %>

<% form_for(@ambulance) do |f| %>
  <p>
    <b>Drivername</b><br />
    <%= f.text_field :driverName %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ambulances_path %>
