<h1>ADS Home</h1>

<h2>Main Menu</h2>
<h3>Ambulance Administrator:</h3>
<p><a href="/ambulances/">login</a></p>
<h3>Call Taker</h3>
<p><a href="/incidents/">login</a></p>
<h3>Ambulance Dispatcher</h3>
<p><a href="/incidents/">login</a></p>
